%cont-shared {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

%selection {
    margin-top: 25%;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    border-radius: 100%;
}

%primary-font {
    font-family: 'Rubik';
    font-style: normal;
    color: #000;
}

%custom-scrollbar {
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 8px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(209, 209, 209);
    }
}

%common-movement-animation {
    animation: move;
    animation-iteration-count: infinite;
}

$light-gray: #8A8A8A;
$dirty-orange: #D39800;
$light: #ececec;